h1,h2,p,body
{
    margin: 0px;
    padding: 0px;
}

.header
{
    display: flex;
    padding-top: 20px;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 50px;
}

.header a 
{
    padding-left : 20px;
    font-size: 22px;
    font-family: "SourceRegular";
    color : #1D1D1F;
    text-decoration: none;
}

.header a:hover
{
    text-decoration: underline #1D1D1F;
}

.cont
{
    display: flex;
    justify-content: space-around;
}

.main_cards
{
    width: 900px;
}

.card
{
    margin-bottom: 30px;
    padding: 10px;
    border: 2px solid #1D1D1F;
    border-radius: 25px;
}

.card p
{
    padding-top: 10px;
    font-family: "SourceRegular";
    font-size: 18px;
    color : #1D1D1F;
}

.card a
{
    font-family: "SourceRegular";
    font-size: 18px;
    color : #1D1D1F;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.card a:hover
{
    font-size: 17px;
    text-decoration: underline #1D1D1F;
    transition: 0.7s;
}

.card h2
{
    font-family: "SourceSemiBold";
    font-size: 24px;
    padding-top: 15px;
    color : #1D1D1F;
}

.nav
{
    display: flex;
    flex-direction: column;
}

.nav a
{
    padding-top: 10px;
    font-family: "SourceRegular";
    font-size: 18px;
    color : #1D1D1F;
    text-decoration: none;
}

.nav a:hover
{
    text-decoration: underline #1D1D1F;
}
