{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'news/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'news/css/fonts.css' %}">

    <title>Category Page</title>

</head>

<body>

    <div class="header">
        <a href="/" target="_blank">Home</a>
        <a href="/admin" target="_blank">Admin</a>
        <a href="/" target="_blank">More about us</a>
    </div>

    <div class="cont">

        <div class="nav">

            {% for item in categories %}
            <a href="/category/{{item.id}}" > {{ item.title }}</a>
            {% endfor %}

        </div>

        <div class="main_cards">

            {% for item in news%}
            <div class="card">
                <h2> {{item.title}} </h2>

                <p> Категория : {{ item.category }}</p>
                <p>{{ item.content|linebreaks|truncatechars:300 }}</p>
                <p>Date : {{ item.created_at }}</p>

            </div>
            {% endfor %}

        </div>
    </div>

</body>

</html>
