<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/admin" target="_blank">admin</a>

    <div class="cont">

        {% for item in news%}

        <div class="card" style="border: 2px solid red;">
            <h2> {{item.title}} </h2>

            <p> Category : {{ item.category }}</p>
            <p>{{ item.content|linebreaks|truncatechars:300 }}</p>
            <p>Date : {{ item.created_at }}</p>

        </div>

        {% endfor %}

    </div>

</body>
</html>