{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'news/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'news/css/fonts.css' %}">
    {% block links %}{% endblock %}
    <title>{% block title %}Main Page{% endblock %}</title>

</head>

<body>

    {% block header %}
        {% include 'news/includes/_header.html' %}
    {% endblock %}


    <div class="cont">

        {% block sidebar %}
            {% include 'news/includes/_sidebar.html' %}
        {% endblock %}

        {% block content %}

        <div class="main_cards">
            {% for item in news%}
            <div class="card">
                <a class="cardCategory" href="{{ item.category.get_absolute_url }}"> Категория : {{ item.category }}</a>

                <h2> {{item.title}} </h2>
                <p> {{ item.content|linebreaks|truncatechars:300 }} </p>
                <p> Дата публикации : {{ item.created_at }} </p>
                <a href="{{ item.get_absolute_url }}">Read more...</a>
            </div>
            {% endfor %}
        </div>

        {% endblock %}
    </div>

    {% block pagination %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
    {% endblock %}

</body>

</html>
