{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'news/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'news/css/fonts.css' %}">

    <title>{% block title %}Main Page{% endblock %}</title>

</head>

<body>

    {% block header %}
    <div class="header">
        <a href="{% url 'home' %}" target="_blank">Home</a>
        <a href="/admin" target="_blank">Admin</a>
        <a href="{% url 'home' %}" target="_blank">More about us</a>
    </div>
    {% endblock %}


    <div class="cont">

        {% block sidebar %}
        <div class="nav">

            {% for item in categories %}
            <a href="{% url 'category' item.id %}" > {{ item.title }}</a>
            {% endfor %}

        </div>
        {% endblock %}

        {% block content %}
        <div class="main_cards">

            {% for item in news%}
            <div class="card">
                <a class="cardCategory" href="{% url 'category' item.category.id %}"> Категория : {{ item.category }}</a>

                <h2> {{item.title}} </h2>
                <p>{{ item.content|linebreaks|truncatechars:300 }}</p>
                <p>Дата публикации : {{ item.created_at }}</p>
                <a href="{% url 'home' %}">Read more...</a>
            </div>
            {% endfor %}

        </div>
        {% endblock %}
    </div>

</body>

</html>
